[**@plures/praxis**](../../README.md)

***

[@plures/praxis](../../README.md) / [index](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: src/core/schema/types.ts:374

Schema validation result

## Properties

### errors

> **errors**: [`ValidationError`](ValidationError.md)[]

Defined in: src/core/schema/types.ts:378

Validation errors

***

### valid

> **valid**: `boolean`

Defined in: src/core/schema/types.ts:376

Validation success
